<!DOCTYPE html>
<html>
  <head>
  <title>React on Rails</title>
  <%= csrf_meta_tags %>

  <%# Eliminamos las líneas de 'generated/Planning' porque no existen como entrypoints %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</head>
  <body>
    <%= yield %>
  </body>
</html>


