<!DOCTYPE html>
<html>
  <head>
  <title>React on Rails</title>
  <%= csrf_meta_tags %>

  <%# Buscamos el CSS y el JS dentro de la subcarpeta generated %>
  <%= stylesheet_pack_tag 'generated/Planning' %>
  <%= javascript_pack_tag 'generated/Planning' %>
</head>
  <body>
    <%= yield %>
  </body>
</html>